/* GLOBAL STYLES*/
@import "../bootstrap-4.5.0/scss/_functions.scss";
@import "../bootstrap-4.5.0/scss/_variables.scss";
@import "../bootstrap-4.5.0/scss/mixins/_breakpoints.scss";

$drumwhite: #ffffff;
$drumyellow: #BF2231;
$drumblack: #1D1D1D;
$drumgrey: #A3A3A3;
$margin: 200px;

/*@font-face {
  font-family: druk-text-wide;
  src: url("/fonts/Druk Text Wide Web Medium Regular.ttf");
}*/
@font-face {
  font-family: futuraBook;
  src: url("/fonts/futura/Futura Book.ttf");
}
@font-face {
  font-family: futuraBold;
  src: url("/fonts/futura/FuturaStd Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: futuraItalic;
  src: url("/fonts/futura/Futura Std Medium Oblique.ttf");
}
/*------------------------------------------------- */

html{
  overflow-x: hidden;
}
body {
  
  

    overflow-x: hidden;
    background-color: $drumblack;
    color: $drumwhite;
    font-family: 'futuraBook';
    h1, h2{
      font-family: 'FuturaBold', cursive;
    }
  }
.background-1{
  background-image: url("/media/home_bg_min.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  @include media-breakpoint-down(sm){
    -webkit-background-size: auto;
    -o-background-size: auto;
    -moz-background-size:auto;
    background-size: auto;
  }
}
/*.background-2{
  background-image: url("/media/drums-2708199_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}*/
.background-3{
  background-image: url("/media/stage-2089831_1280.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include media-breakpoint-down(sm){
    -webkit-background-size: auto;
    -o-background-size: auto;
    -moz-background-size:auto;
    background-size: auto;
  }
}

.headliner{
  position: relative;
  .bb{
    position: relative;
    width:100%;
    border-bottom: $drumyellow 2px solid ;
    z-index: 1;
  }
  .foreheader{
    position: inherit;
    width: 100%;
    margin-bottom: 0;
    font-family: 'futuraItalic';
    font-size: 22px;
    z-index: 3;
    @include media-breakpoint-down(lg){
      font-size: 22px;
    }
    @include media-breakpoint-down(md){
      font-size: 16px;
    }
    @include media-breakpoint-down(sm){
      font-size: 12px;
    }
    &.fh-right{
      right: -45%;
      @include media-breakpoint-down(lg){
        right: -55%;
      }
      @include media-breakpoint-down(sm){
        right: 5%;
        text-align: right;
      } 
    }
    &.fh-left{
      margin-left: auto;
      width: max-content;
      margin-right: 45%;
      @include media-breakpoint-down(lg){
        margin-right: 55%;
      }
      @include media-breakpoint-down(sm){
        margin-left: 5%;
      }
    }
  }
  .section-header{
    position: inherit;
    width: max-content;
    font-size: 65px;
    background-color: $drumblack;
    transform: translateY(-17px);
    z-index: 2;
    @include media-breakpoint-down(lg){
      font-size: 60px;
      transform: translateY(-14px);
    }
    @include media-breakpoint-down(md){
      font-size: 40px;
      transform: translateY(-11px);
    }
    @include media-breakpoint-down(sm){
      font-size: 28px;
      transform: translateY(-9px);
    }
    &.sh-right{
      margin-left: auto;
      padding-right: 5%;
      padding-left: 6px;
    }
    &.sh-left{
      padding-left: 5%;
      padding-right: 6px;
    }
  }
  /*.down-line{
    position: absolute;
    width: 60%;
    height: auto;
    bottom: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index:1;
    @include media-breakpoint-down(sm){
      -webkit-transform: translateY(-70%);
      transform: translateY(-70%);
    }
    &.h-right{
      right:0;
    }
    &.h-left{
      left:0;
    }
  }*/
}

/*.headliner-left{
  position: relative;
  .section-line{
    position: absolute;
    margin-bottom: 0;
    z-index: 2;
  }
  .downline{
    position: absolute;
    width: 60%;
    margin-left: auto;
    z-index:1;
  }
}*/

.lesslon-btn{
  position: relative;
  margin-top: 1rem;
  padding: 6px 25px;
  background-color: $drumblack;
  color: $drumwhite;
  font-size: 14px;
  //border: $drumblack solid 3px;
  border-radius: 30px;
  line-height: 20px;
  box-shadow: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  @include media-breakpoint-down(md){
    font-size: 12px;
  }
  span{
    font-size: 18px;
    font-family: 'futuraBold';
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    @include media-breakpoint-down(md){
      font-size: 16px;
    }
  }
  &:hover, &:focus{
    background-color: $drumwhite;
    color: $drumblack;
    //border: $drumblack 3px solid;
    box-shadow: 10px 10px 10px $drumblack;
    span{
      color: $drumyellow;
    }
  }
}
.arr{
  display: inline-block;
  width: 43px;
  height: 43px;
  //padding: 6px;
  background-color: $drumwhite;
  border: $drumwhite 3px solid;
  border-radius: 100%;
  //box-shadow: $drumblack 0 0 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  @include media-breakpoint-down(sm){
    width: 38px;
    height: 38px;
  }
  i{
    display: inline-block;
    -webkit-transform: translate(25%, -5%);
    transform: translate(25%, -5%);
    font-size: 25px;
    color: $drumblack;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    @include media-breakpoint-down(sm){
      font-size: 21px;
    }
  }
  &:hover, &:focus{
      background-color: $drumblack;
      border: $drumblack 3px solid;
      //box-shadow: $drumwhite 0 0 5px;
      i{
        color: $drumwhite;
      }
  }
}

header{
  &.lp{
    position: relative;
    height: 100vh;
    li a{
      color: $drumwhite
    }
  }
  
  
  nav{
    //mittels DOM manipulation komplette Hintergrund Farbe mittels transition toggeln
    background: rgba(191, 34, 49, 1);
    font-family: 'futuraBold';
    z-index: 6;
    #nav-logo{
      width: auto;
      height:50px;
      @include media-breakpoint-down(md){
        height: 40px;
      }
    }
    .navbar-toggler .navbar-toggler-icon{
      color: $drumwhite;
    }
    ul{
      width: 80%;
      .dropdown-menu{
        background-color:rgba(191, 34, 49, 0.7);
        border: unset;
        a{
          color:  rgba(255, 255, 255, 0.5);
          &:hover, &:focus{
            color:  rgba(255, 255, 255, 1);
            background-color: unset;
          }
        }
      }
      
    }
  }
  .drum-logo{
    position: absolute;
    max-width: 35%;
    left: 50%;
    top: 50%;
    filter: drop-shadow(0px 0px 100px $drumblack);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    @include media-breakpoint-down(sm){
      max-width: 60%;
      max-height: 55%;
    }
  }
  .arrow-down{
    position: absolute;
    position: fixed;
    opacity: 1;
    visibility: visible;
    max-width: 20%;
    left: 50%;
    bottom: 5%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 99;
    @include media-breakpoint-down(sm){
      max-width: 30%;
    }
    &.scroll{
      opacity: 0;
      visibility: hidden;
    }
  }
}
.welcome{
  .row{
    margin: 0;
    background-color: $drumyellow;
    color: $drumwhite;
    .content{
      position: relative;
      padding: 4rem 0 4rem 6rem;
      background-color: $drumyellow;
      @include media-breakpoint-down(md){
        padding-right: 1rem;
        padding-left: 3rem;
      }
      @include media-breakpoint-down(sm){
        padding: 4rem 2rem;
      }
      h1{
        font-family: 'futuraItalic';
        font-size: 22px;
        margin-bottom: 3rem;
        @include media-breakpoint-down(lg){
          font-size: 22px;
        }
        @include media-breakpoint-down(md){
          font-size: 18px;
        }
        @include media-breakpoint-down(sm){
          font-size: 16px;
        }
        .head-liner{
          position: relative;
          display: block;
          width: 100%;
          z-index: 4;
          .ul{
            font-family: 'FuturaBold';
            font-size: 50px;
            background-color: $drumyellow;
            @include media-breakpoint-down(lg){
              font-size: 40px;
            }
            @include media-breakpoint-down(md){
              font-size: 30px;
            }
            @include media-breakpoint-down(sm){
              font-size: 40px;
            }
          }
        }
      }
      p{
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 3rem;
        @include media-breakpoint-down(lg){
          margin-bottom: 6rem;
          font-size: 18px;
          line-height: 22px;
        }
        @include media-breakpoint-down(md){
          font-size: 16px;
        }
        @include media-breakpoint-down(sm){
          font-size: 16px;
          margin-bottom: 3rem;
        }
      }
    }
    
    .more{
      position: absolute;
      bottom: calc(8px + 4rem);
      right: 6rem;
      color: $drumwhite;
      font-size: 18px;
      font-weight: 600;
      transform: translateX(4rem);
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      @include media-breakpoint-down(lg) {
        font-size: 20px;
        left: 7rem;
        bottom: calc(90px + 4rem);
        transform: translateX(0);
      }
       @include media-breakpoint-down(md){
         font-size: 17px;
         left: 4rem;
       }
      @include media-breakpoint-down(sm) {
        left: unset;
        right: 2rem;
        bottom: calc(8px + 4rem);
      }
      &:hover, &:focus{
        text-decoration: none;
        //font-size: 20px;
        color: $drumblack;
        @include media-breakpoint-up(lg) {
          font-size: 20px;
        }
        .arr{
          background-color: $drumblack;
          border: $drumblack 3px solid;
          i{
            color: $drumwhite;
          }
        }
      }
    }
    .contain{
      background-image: url("/media/DrummerSW-2.jpg");
      background-size: cover;
      background-position: center;
      padding: 0;
      z-index: 3;
      .row{
        background-color: transparent;
      }
      .shadow-box{
        padding: 0;
        margin: 0;
        filter: drop-shadow(10px 10px 5px $drumblack);
        .slash{
          position: relative;
          background-color: $drumyellow;
          height: 100%;
          clip-path: polygon(
            0 0,
            100% 0,
            0 100%
          );
          z-index: 4;
          @include media-breakpoint-down(sm){
            clip-path: none;
            background-color: transparent;
          }
        }
      }
    }
  }
}
.service{
  margin-top: $margin;
  margin-bottom: $margin;
  .container{
    margin: 5rem auto;
    @include media-breakpoint-down(md){
      margin-left: 0;
      margin-right: 0;
      max-width: none;
    }
    @include media-breakpoint-down(sm){
      margin-left: auto;
      margin-right: auto;
      max-width: 540px;
    }
  }
  .card{
    position: relative;
    background-color: $drumblack;
    padding: 0 2rem;
    text-align: center;
    z-index: 3;
    @include media-breakpoint-down(md){
      padding: unset;
    }
    @include media-breakpoint-down(sm){
      padding: 0 2rem 4rem;
    }
    .circ{
      position: relative;
      width: 100%;
      background-color: $drumyellow;
      border-radius: 100%;
      .ico{
        position: absolute;
        left: 50%;
        bottom: 50%;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
        padding: 15%;
      }
    }
    .card-body{
      padding: 0;
      padding-top: 2rem;
      h2{
        font-size: 24px;
        margin-bottom: 0;
        font-family: 'futuraBold';
        @include media-breakpoint-down(lg){
          font-size: 20px;
        }
        @include media-breakpoint-down(md){
          font-size: 18px;
        }
      }
      p{
        font-size: 16px;
        margin-bottom: 0;
        @include media-breakpoint-down(sm){
          font-size: 14px;
        }
      }
    }
  }
  
  .grid{
    .ico{
      //background-color: $drumyellow;
      display: block;
      margin: auto;
      
    }
    .row{
      margin: 2rem 0;
      @include media-breakpoint-down(sm){
        padding: 2rem 0 .5rem;
      }
      &:nth-child(odd){
        background-color: $drumgrey;
        padding: 2rem 0;
      }
    }
    .p-header{
      font-weight: bold;
      font-size: 25px;
      @include media-breakpoint-down(md){
        font-size: 22px;
      }
      @include media-breakpoint-down(md){
        font-size: 16px;
      }
      @include media-breakpoint-down(sm){
        margin-top: 1rem;
        text-align: center;
      }
    }
    .r{
      text-align: right;
      @include media-breakpoint-down(sm){
        text-align: center;
      }
    }
    /*img{
      max-height: 250px;
    }*/
  }
   
}

.locations{
  margin-top: $margin;
  margin-bottom: $margin;
  .container{
    margin-top: 7rem;
    @include media-breakpoint-down(md){
      padding: unset;
    }
    @include media-breakpoint-down(md){
      padding: 0 2rem;
    }
  }
  #map{
    width: 90%;
    @include media-breakpoint-down(sm){
      margin: auto;
    }   
  }
  .mloc{
    padding-left: 2rem;
    @include media-breakpoint-down(sm){
      margin-top: 2rem;
      padding-left: 0;
    }
    .location{
      font-family: 'futuraBold';
      font-weight: bold;
      font-size: 24px;
      color: $drumwhite;
      border-bottom: 1px solid $drumyellow;
      cursor: pointer;
      @include media-breakpoint-down(lg){
        font-size: 20px;
      }
      @include media-breakpoint-down(md){
        font-size: 18px;
      }
      &:hover, &:focus{
        color: $drumyellow;
      }
    }
    .adress{
      font-family: 'futuraItalic';

    }
    .card{
      background-color: $drumblack;
      border: $drumyellow solid 1px;
      margin-bottom: 2rem;
      &.no-mb{
        margin-bottom: 0;
      }
    }
  }
  
}

.get-started{
  position: relative;
  margin-top: $margin;
  margin-bottom: $margin;
  color: $drumwhite;
  .content{
    position: relative;
  }
  img{
    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 51%;
    @include media-breakpoint-down(md){
      width: 58%;
    }
    @include media-breakpoint-down(sm){
      position: relative;
      width: 100%;
    }
  }
  .get-contact{
    position: absolute;
    bottom: 0;
    background-color: $drumyellow;
    width: 100%;
    z-index: 4;
    //margin-bottom: 2rem;
    @include media-breakpoint-down(sm){
      position: relative;
    }
    .row{
      padding: 2rem 0;
      text-align: center;
      @include media-breakpoint-down(lg){
        padding: 1.5rem 0;
      }
      @include media-breakpoint-down(md){
        padding: 1rem 0;
      }
      p{
        font-size: 24px;
        @include media-breakpoint-down(lg){
          //font-size: 18px;
          margin-bottom: 0.5rem;
        }
        @include media-breakpoint-down(md){
          font-size: 19px;
        }
        @include media-breakpoint-down(sm){
          margin-bottom:1rem;
        }
      }
      a{
        display: block;
        margin-bottom: 1.5rem;
        color: $drumwhite;
        font-size: 24px;
        font-family: 'futuraBold';
        @include media-breakpoint-down(lg){
          font-size: 22px;
          margin-bottom: 1rem;
        }
        @include media-breakpoint-down(md){
          font-size: 20px;
        }
        @include media-breakpoint-down(sm){
          margin-bottom: 1.5rem;
          &:last-of-type{
            margin-bottom: 0;
          }
        }
      }
      .lesslon-btn{
        padding: 12px 25px;
        margin: 0;
        font-size: 18px;
        font-family: 'futuraBook';
        @include media-breakpoint-down(md){
          font-size: 16px;
        }
        @include media-breakpoint-down(sm){
          font-size: 14px;
        }
      }      
    }
    /*.left{
      p, a{
        text-align: left;
        display: block;
        @include media-breakpoint-down(sm){
          text-align: center;
        }
      }
    }
    .right{
      p, a{
        text-align: right;
        display: block;
        margin: 0 2rem 0 0;
        @include media-breakpoint-down(md){
          margin-right: 1rem;
        }
        @include media-breakpoint-down(sm){
          text-align: center;
          margin-bottom: 1rem;
          margin-right: 0;
        }
      }
    }
    .pl{
      p, a{
        padding-left: 2rem;
        @include media-breakpoint-down(md){
          padding-left: 0;
        }
      }
    }
    .bold{
      p, a{
        font-weight: bold;
      }
      
    }
    .drum-btn{
      width: 100%;
      padding: 7px 2px;
      background-color: $drumblack;
      color: $drumwhite;
      font-size: 22px;
      border: $drumblack solid 3px;
      border-radius: 30px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      @include media-breakpoint-down(lg){
        font-size:18px;
      }
      @include media-breakpoint-down(md){
        font-size:14px;
      }
      @include media-breakpoint-down(sm){
        min-width: 40%;
        max-width: 60%;
      }
      &:hover{
        background-color: $drumwhite;
        color: $drumyellow;
        border: solid 3px $drumblack;
      }
      
      //box-shadow: 0 0 10px $drumyellow;
    }*/
  }
}

.news{
  margin-top: $margin;
  margin-bottom: $margin;
  .soon{
    position: relative;
    margin-top: 7rem;
    .bg-grey{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $drumwhite;
      opacity: 0.65;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      z-index: 3;
    }
    img{
      position: relative;
      z-index: 2;
    }
    h3{
      position: absolute;
      font-family: 'futuraBold';
      font-size: 3rem;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      opacity: 1;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      z-index: 4;
      @include media-breakpoint-down(sm){
        font-size: 2.5rem;
      }

    }
    &:hover, &:focus{
      .bg-grey{
        opacity: 0.8;
      }
      h3{
        color: $drumblack;
      }
    }
  }
}
.lesslons{
  /*#trapezoid {
      width: 150px;
      height: 100px;
      transform: skew(20deg);
      background: red;
  }*/
  .row{
    margin: 0;
    background-color: $drumyellow;
  }
  .headline{
    position: relative;
    margin-bottom: 3rem;
    font-size: 32px;
    z-index: 4;
    @include media-breakpoint-down(md){
      font-size: 28px;
    };
  }
  
  .content{
    padding: 4rem 0 4rem 3rem;
    background-color: $drumyellow;
    @include media-breakpoint-down(sm){
      padding: 4rem 3rem 4rem 3rem;
    }
    /*.headliner{
      color: $drumblack;
      .bb{
        border-bottom: $drumwhite 2px solid ;
      }
      .foreheader{
        font-size: 18px;
        z-index: 5;
        @include media-breakpoint-down(lg){
          font-size: 15px;
        }
        /*@include media-breakpoint-down(md){
          font-size: 16px;
        }
        @include media-breakpoint-down(sm){
          font-size: 16px;
        }
        &.fh-left{
          margin-right: auto;
          margin-left: 0;
          @include media-breakpoint-down(sm){
            margin: auto;
          }
        }
      }
      .section-header{
        font-size: 48px;
        background-color: $drumyellow;
        transform: translate(10%, -14px);
        @include media-breakpoint-down(lg){
          font-size: 38px;
          transform: translate(12%, -10.5px);
        }
        @include media-breakpoint-down(md){
          font-size: 30px;
          transform: translate(7%, -8.5px);
        }
        @include media-breakpoint-down(sm){
          font-size: 40px;
          transform: translate(0%, -12px);
        }
        &.sh-right{
          margin-left: auto;
          padding-right: 0%;
          padding-left: 0px;
          z-index: 4;
          @include media-breakpoint-down(sm){
            margin: auto;
          }
        }
      }
    }
    h1{
      font-family: 'futuraItalic';
      color: $drumblack;
      font-size: 20px;
      .head-liner{
        display: block;
        width: 100%;
        text-align: right;
        font-family: 'Bebas Neue';
        border-top: 1px solid $drumwhite;
        .ul{
          //width: 100%;
          //text-align: right;
          font-size: 28px;
          background-color: $drumyellow;
        }
      }
    }*/
    p{
      font-size: 13px;
    }
    h3{
      font-size: 13px;
      font-family: 'futuraBold';
    }
    .arr-l{
      position: absolute;
      right: calc(0px - 8%);
      bottom: 1rem;
      z-index: 4;
      @include media-breakpoint-down(sm){
        transform: translateX(-90%);
      }
      .arr{
        position: relative;
        width: 60px;
        height: 60px;
        i{
          position: absolute;
          left: 50%;
          bottom: 50%;
          -webkit-transform: translate(-50%, 45%);
          transform: translate(-50%, 45%);
          font-size: 50px;
        }
      }
    }
    .arr-r{
      position: absolute;
      right: calc(0px - 8%);
      bottom: calc(2rem + 60px);
      z-index: 4;
      @include media-breakpoint-down(sm){
        transform: translateX(-90%);
      }
      .arr{
        position: relative;
        width: 60px;
        height: 60px;
        i{
          position: absolute;
          left: 50%;
          bottom: 50%;
          -webkit-transform: translate(-50%, 45%);
          transform: translate(-50%, 45%);
          font-size: 50px;
        }
      }
    }
    
  }
  .contain{
    &#fortgeschritten{
      background-image: url("/media/fortgeschritten_min.jpg");
    }
    &#anfaenger{
      background-image: url("/media/anfaenger_min.jpg");
    }
    &#kinder{
      background-image: url("/media/kinder_min.jpg");
    }
    &#konzept{
      background-image: url("/media/konzept_min.jpg");
    }
    background-size: cover;
    background-position: right;
    padding: 0;
    z-index: 3;
    .row{
      background-color: transparent;
    }
    .shadow-box{
      padding: 0;
      margin: 0;
      filter: drop-shadow(10px 10px 5px $drumblack);
      .slash{
        background-color: $drumyellow;
        height: 100%;
        clip-path: polygon(
          0 0,
          100% 0,
          0 100%
        );
        z-index: 4;
        @include media-breakpoint-down(sm){
          clip-path: none;
          background-color: transparent;
        }
      }
    }
  }
}
.teachers{
  margin-top: $margin;
  margin-bottom: $margin;
  .teacher{
    margin-bottom: 3rem;
    text-align: center;
    img{
      padding: 1.5rem;
    }
    h3{
      font-size: 28px;
      @include media-breakpoint-down(lg){
        font-size: 24px;
      }
      @include media-breakpoint-down(md){
        font-size: 16px;
      }
      @include media-breakpoint-down(sm){
        font-size: 24px;
      }
      .bold{
        font-family: 'futuraBold';
      }
    }
  }
}

footer{
  margin-top: $margin;
  padding-top: 44px;
  padding-bottom: 2rem;
  background-image: url("/media/FooterGrafik_min.png");
  background-color: $drumyellow;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  a{
    color: $drumwhite;
    &:hover, &:focus{
      text-decoration: none;
      color: $drumwhite;
    }
  }
  .newsletter-form{
    margin-bottom: 2rem;
    label{
      font-family: 'futuraBold';
      font-size: 28px;
    }
    .email{
      padding: 8px 20px;
      width: 70%;
      border: none;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      @include media-breakpoint-down(sm){
        font-size: 12px;
        padding: 8px 12px;
      }
    }
    .submit{
      padding: 8px 24px;
      background-color: $drumblack;
      color: $drumwhite;
      font-weight: bold;
      border: none;
      border-left: $drumblack 2px solid;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      transform: translateX(-6px);
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      @include media-breakpoint-down(sm){
        font-size: 12px;
        padding: 8px 12px;
      }
      &:hover, &:focus{
        background-color: $drumwhite;
        color: $drumblack;
      }
      
    }
  }
  .social{
    font-family: 'futuraBold';
    font-size: 24px;
    font-weight: bold;
  }
  .icon-link{
    font-size: 14px;
    .icon{
      width: 25px;
      height: 25px;
      color: $drumyellow;
      margin: 12px;
      margin-left: 0;
    }
  }
  .bold{
    //padding-top: 44px;
    font-weight: bold;
    font-size: 20px;
    @include media-breakpoint-down(md){
      font-size: 17px;
    }
    .thin{
      margin-top: 1.5rem;
      font-family: 'futuraItalic';
      font-weight: 400;
    }
  }
  
}
