/* GLOBAL STYLES*/
/*@font-face {
  font-family: druk-text-wide;
  src: url("/fonts/Druk Text Wide Web Medium Regular.ttf");
}*/
@font-face {
  font-family: futuraBook;
  src: url("/fonts/futura/Futura Book.ttf");
}

/*@font-face {
  font-family: futuraBold;
  src: url("/fonts/futura/Futura Bold.ttf");
  font-weight: bold;
}*/
@font-face {
  font-family: futuraItalic;
  src: url("/fonts/futura/Futura Std Medium Oblique.ttf");
}

/*------------------------------------------------- */
html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #1D1D1D;
  color: #ffffff;
  font-family: 'futuraBook';
}

body h1, body h2, body h3 {
  font-family: 'Bebas Neue', cursive;
}

.background-1 {
  background-image: url("/media/drums-2599508_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 767.98px) {
  .background-1 {
    background-size: auto;
  }
}

/*.background-2{
  background-image: url("/media/drums-2708199_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}*/
.background-3 {
  background-image: url("/media/stage-2089831_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 767.98px) {
  .background-3 {
    background-size: auto;
  }
}

.headliner {
  position: relative;
}

.headliner .section-line {
  position: absolute;
  font-size: 110px;
  top: 0;
  z-index: 3;
}

@media (max-width: 1199.98px) {
  .headliner .section-line {
    font-size: 80px;
  }
}

@media (max-width: 991.98px) {
  .headliner .section-line {
    font-size: 50px;
  }
}

@media (max-width: 767.98px) {
  .headliner .section-line {
    font-size: 28px;
  }
}

.headliner .section-line.h-right {
  left: 50%;
}

.headliner .section-line.h-left {
  right: 50%;
}

.headliner .down-line {
  position: absolute;
  width: 60%;
  height: auto;
  bottom: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

@media (max-width: 767.98px) {
  .headliner .down-line {
    -webkit-transform: translateY(-70%);
    transform: translateY(-70%);
  }
}

.headliner .down-line.h-right {
  right: 0;
}

.headliner .down-line.h-left {
  left: 0;
}

.headliner-left {
  position: relative;
}

.headliner-left .section-line {
  position: absolute;
  margin-bottom: 0;
  z-index: 2;
}

.headliner-left .downline {
  position: absolute;
  width: 60%;
  margin-left: auto;
  z-index: 1;
}

.lesslon-btn {
  position: relative;
  margin-top: 1rem;
  padding: 6px 25px;
  background-color: #1D1D1D;
  color: #ffffff;
  font-size: 14px;
  border: #1D1D1D solid 3px;
  border-radius: 30px;
  line-height: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 1199.98px) {
  .lesslon-btn {
    font-size: 12px;
  }
}

@media (max-width: 991.98px) {
  .lesslon-btn {
    font-size: 10px;
  }
}

@media (max-width: 767.98px) {
  .lesslon-btn {
    font-size: 10px;
    position: relative;
    padding: 6px 12px;
  }
}

.lesslon-btn span {
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 1199.98px) {
  .lesslon-btn span {
    font-size: 16px;
  }
}

@media (max-width: 991.98px) {
  .lesslon-btn span {
    font-size: 13px;
  }
}

.lesslon-btn:hover {
  background-color: #ffffff;
  color: #1D1D1D;
  border: #1D1D1D 3px solid;
}

.lesslon-btn:hover span {
  color: #BF2231;
}

.arr {
  display: inline-block;
  width: 43px;
  height: 43px;
  background-color: #ffffff;
  border: #ffffff 3px solid;
  border-radius: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 767.98px) {
  .arr {
    width: 38px;
    height: 38px;
  }
}

.arr i {
  display: inline-block;
  -webkit-transform: translateX(25%);
  transform: translateX(25%);
  font-size: 25px;
  color: #1D1D1D;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 767.98px) {
  .arr i {
    font-size: 21px;
  }
}

.arr:hover {
  background-color: #1D1D1D;
  border: #ffffff 3px solid;
}

.arr:hover i {
  color: #ffffff;
}

header.lp {
  position: relative;
  height: 100vh;
}

header.lp li a {
  color: #ffffff;
}

@media (max-width: 991.98px) {
  header nav {
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
  }
}

header nav #nav-logo {
  width: auto;
  height: 70px;
}

@media (max-width: 767.98px) {
  header nav #nav-logo {
    height: 40px;
  }
}

header nav .navbar-toggler .navbar-toggler-icon {
  color: #ffffff;
}

header nav ul {
  width: 80%;
}

header .drum-logo {
  position: absolute;
  max-width: 35%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 767.98px) {
  header .drum-logo {
    max-width: 60%;
    max-height: 55%;
  }
}

header .arrow-down {
  position: absolute;
  position: fixed;
  opacity: 1;
  visibility: visible;
  max-width: 20%;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 99;
}

@media (max-width: 767.98px) {
  header .arrow-down {
    max-width: 30%;
  }
}

header .arrow-down.scroll {
  opacity: 0;
  visibility: hidden;
}

.welcome .row {
  margin: 0;
  background-color: #BF2231;
}

.welcome .row .content {
  position: relative;
  padding: 4rem 0 4rem 3rem;
  background-color: #BF2231;
}

.welcome .row .content h1 {
  font-family: 'futuraItalic';
  color: #1D1D1D;
  font-size: 20px;
}

.welcome .row .content h1 .head-liner {
  display: block;
  width: 100%;
  text-align: right;
  font-family: 'Bebas Neue';
}

.welcome .row .content h1 .head-liner .ul {
  font-size: 28px;
  background-color: #BF2231;
}

.welcome .row .content p {
  font-size: 20px;
}

.welcome .row .more {
  position: absolute;
  bottom: calc(8px + 4rem);
  right: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 1199.98px) {
  .welcome .row .more {
    font-size: 16px;
  }
}

@media (max-width: 991.98px) {
  .welcome .row .more {
    font-size: 14px;
  }
}

@media (max-width: 991.98px) {
  .welcome .row .more {
    font-size: 14px;
  }
}

.welcome .row .more:hover {
  text-decoration: none;
  font-size: 20px;
  color: #1D1D1D;
}

@media (max-width: 1199.98px) {
  .welcome .row .more:hover {
    font-size: 18px;
  }
}

@media (max-width: 991.98px) {
  .welcome .row .more:hover {
    font-size: 16px;
  }
}

@media (max-width: 991.98px) {
  .welcome .row .more:hover {
    font-size: 14px;
  }
}

.welcome .row .more:hover .arr {
  background-color: #1D1D1D;
  border: #ffffff 3px solid;
}

.welcome .row .more:hover .arr i {
  color: #ffffff;
}

.welcome .row .contain {
  background-image: url("/media/DrummerSW-2.jpg");
  background-size: cover;
  background-position: left;
  padding: 0;
  z-index: 3;
}

.welcome .row .contain .row {
  background-color: transparent;
}

.welcome .row .contain .shadow-box {
  padding: 0;
  margin: 0;
  -webkit-filter: drop-shadow(10px 10px 5px #1D1D1D);
          filter: drop-shadow(10px 10px 5px #1D1D1D);
}

.welcome .row .contain .shadow-box .slash {
  position: relative;
  background-color: #BF2231;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%);
  z-index: 4;
}

@media (max-width: 767.98px) {
  .welcome .row .contain .shadow-box .slash {
    -webkit-clip-path: none;
            clip-path: none;
    background-color: transparent;
  }
}

.service {
  margin-top: 100px;
  margin-bottom: 100px;
}

.service .card {
  background-color: #1D1D1D;
}

.service .card .circ {
  position: relative;
  width: 100%;
  background-color: #BF2231;
  border-radius: 100%;
}

.service .card .circ .ico {
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, 45%);
  transform: translate(-50%, 45%);
}

.service .grid {
  /*img{
      max-height: 250px;
    }*/
}

.service .grid .ico {
  display: block;
  margin: auto;
}

.service .grid .row {
  margin: 2rem 0;
}

@media (max-width: 767.98px) {
  .service .grid .row {
    padding: 2rem 0 .5rem;
  }
}

.service .grid .row:nth-child(odd) {
  background-color: #A3A3A3;
  padding: 2rem 0;
}

.service .grid .p-header {
  font-weight: bold;
  font-size: 25px;
}

@media (max-width: 991.98px) {
  .service .grid .p-header {
    font-size: 22px;
  }
}

@media (max-width: 991.98px) {
  .service .grid .p-header {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .service .grid .p-header {
    margin-top: 1rem;
    text-align: center;
  }
}

.service .grid .r {
  text-align: right;
}

@media (max-width: 767.98px) {
  .service .grid .r {
    text-align: center;
  }
}

.locations {
  margin-top: 100px;
  margin-bottom: 100px;
}

.locations #map {
  width: 90%;
}

@media (max-width: 767.98px) {
  .locations #map {
    margin: auto;
  }
}

.locations .mloc {
  padding-left: 2rem;
}

@media (max-width: 767.98px) {
  .locations .mloc {
    margin-top: 2rem;
    padding-left: 0;
  }
}

.locations .mloc .location {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #BF2231;
  border-bottom: 1px solid #BF2231;
}

.locations .mloc .adress {
  font-style: italic;
}

.locations .mloc .card {
  background-color: #1D1D1D;
  border: #BF2231 solid 1px;
}

.get-started {
  font-size: 22px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  color: #1D1D1D;
}

@media (max-width: 1199.98px) {
  .get-started {
    font-size: 18px;
  }
}

@media (max-width: 991.98px) {
  .get-started {
    font-size: 14px;
  }
}

@media (max-width: 1199.98px) {
  .get-started p {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 767.98px) {
  .get-started p {
    margin-bottom: 0;
  }
}

.get-started img {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 51%;
}

@media (max-width: 767.98px) {
  .get-started img {
    position: relative;
    width: 100%;
  }
}

.get-started .get-contact {
  position: absolute;
  bottom: 0;
  background-color: #BF2231;
  width: 100%;
  z-index: 1;
}

@media (max-width: 767.98px) {
  .get-started .get-contact {
    position: relative;
  }
}

.get-started .get-contact h3 {
  font-size: 110px;
}

@media (max-width: 1199.98px) {
  .get-started .get-contact h3 {
    font-size: 90px;
  }
}

@media (max-width: 991.98px) {
  .get-started .get-contact h3 {
    font-size: 60px;
  }
}

.get-started .get-contact .left p, .get-started .get-contact .left a {
  text-align: left;
  display: block;
  color: #1D1D1D;
}

@media (max-width: 767.98px) {
  .get-started .get-contact .left p, .get-started .get-contact .left a {
    text-align: center;
  }
}

.get-started .get-contact .right p, .get-started .get-contact .right a {
  text-align: right;
  display: block;
  color: #1D1D1D;
  margin: 0 2rem 0 0;
}

@media (max-width: 991.98px) {
  .get-started .get-contact .right p, .get-started .get-contact .right a {
    margin-right: 1rem;
  }
}

@media (max-width: 767.98px) {
  .get-started .get-contact .right p, .get-started .get-contact .right a {
    text-align: center;
    margin-bottom: 1rem;
    margin-right: 0;
  }
}

.get-started .get-contact .pl p, .get-started .get-contact .pl a {
  padding-left: 2rem;
}

@media (max-width: 991.98px) {
  .get-started .get-contact .pl p, .get-started .get-contact .pl a {
    padding-left: 0;
  }
}

.get-started .get-contact .bold p, .get-started .get-contact .bold a {
  font-weight: bold;
}

.get-started .get-contact .drum-btn {
  width: 100%;
  padding: 7px 2px;
  background-color: #1D1D1D;
  color: #ffffff;
  font-size: 22px;
  border: #1D1D1D solid 3px;
  border-radius: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 1199.98px) {
  .get-started .get-contact .drum-btn {
    font-size: 18px;
  }
}

@media (max-width: 991.98px) {
  .get-started .get-contact .drum-btn {
    font-size: 14px;
  }
}

@media (max-width: 767.98px) {
  .get-started .get-contact .drum-btn {
    min-width: 40%;
    max-width: 60%;
  }
}

.get-started .get-contact .drum-btn:hover {
  background-color: #ffffff;
  color: #BF2231;
  border: solid 3px #1D1D1D;
}

.get-started .get-contact .info {
  text-align: right;
  font-size: 15px;
  margin: 1rem 2rem 1rem 0;
}

@media (max-width: 1199.98px) {
  .get-started .get-contact .info {
    font-size: 12px;
  }
}

@media (max-width: 991.98px) {
  .get-started .get-contact .info {
    font-size: 10px;
    margin: 0.5rem 1rem 1rem 0;
  }
}

@media (max-width: 767.98px) {
  .get-started .get-contact .info {
    text-align: center;
    margin-right: 0;
  }
}

.news {
  margin-top: 100px;
  margin-bottom: 100px;
}

.news .soon {
  position: relative;
}

.news .soon .bg-grey {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.65;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 3;
}

.news .soon img {
  position: relative;
  z-index: 2;
}

.news .soon h3 {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 4;
}

@media (max-width: 767.98px) {
  .news .soon h3 {
    font-size: 2.5rem;
  }
}

.news .soon:hover .bg-grey {
  opacity: 0.8;
}

.news .soon:hover h3 {
  color: #1D1D1D;
}

.lesslons {
  /*#trapezoid {
      width: 150px;
      height: 100px;
      transform: skew(20deg);
      background: red;
  }*/
}

.lesslons .row {
  margin: 0;
  background-color: #BF2231;
}

.lesslons .content {
  padding: 4rem 0 4rem 3rem;
  background-color: #BF2231;
}

.lesslons .content h1 {
  font-family: 'futuraItalic';
  color: #1D1D1D;
  font-size: 20px;
}

.lesslons .content h1 .head-liner {
  display: block;
  width: 100%;
  text-align: right;
  font-family: 'Bebas Neue';
  border-top: 1px solid #ffffff;
}

.lesslons .content h1 .head-liner .ul {
  font-size: 28px;
  background-color: #BF2231;
}

.lesslons .content p {
  font-size: 13px;
}

.lesslons .content .arr-l {
  position: absolute;
  right: calc(0px - 8%);
  bottom: 1rem;
  z-index: 4;
}

.lesslons .content .arr-l .arr {
  position: relative;
  width: 60px;
  height: 60px;
}

.lesslons .content .arr-l .arr i {
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, 45%);
  transform: translate(-50%, 45%);
  font-size: 50px;
}

.lesslons .content .arr-r {
  position: absolute;
  right: calc(0px - 8%);
  bottom: calc(2rem + 60px);
  z-index: 4;
}

.lesslons .content .arr-r .arr {
  position: relative;
  width: 60px;
  height: 60px;
}

.lesslons .content .arr-r .arr i {
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, 45%);
  transform: translate(-50%, 45%);
  font-size: 50px;
}

.lesslons .contain {
  background-image: url("/media/AdobeStock_213870943.jpg");
  background-size: cover;
  background-position: right;
  padding: 0;
  z-index: 3;
}

.lesslons .contain .row {
  background-color: transparent;
}

.lesslons .contain .shadow-box {
  padding: 0;
  margin: 0;
  -webkit-filter: drop-shadow(10px 10px 5px #1D1D1D);
          filter: drop-shadow(10px 10px 5px #1D1D1D);
}

.lesslons .contain .shadow-box .slash {
  background-color: #BF2231;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%);
  z-index: 4;
}

@media (max-width: 767.98px) {
  .lesslons .contain .shadow-box .slash {
    -webkit-clip-path: none;
            clip-path: none;
    background-color: transparent;
  }
}

footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  text-decoration: none;
  color: #ffffff;
}

footer .newsletter-form {
  margin-bottom: 2rem;
}

footer .newsletter-form label {
  color: #BF2231;
  font-size: 28px;
  font-weight: bold;
}

footer .newsletter-form .email {
  padding: 8px 20px;
  width: 70%;
  border: none;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

@media (max-width: 767.98px) {
  footer .newsletter-form .email {
    font-size: 12px;
    padding: 8px 12px;
  }
}

footer .newsletter-form .submit {
  padding: 8px 20px;
  background-color: #BF2231;
  font-weight: bold;
  border: none;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 767.98px) {
  footer .newsletter-form .submit {
    font-size: 12px;
    padding: 8px 12px;
  }
}

footer .newsletter-form .submit:hover {
  background-color: #1D1D1D;
  color: #BF2231;
  -webkit-box-shadow: #BF2231 0 0 10px;
          box-shadow: #BF2231 0 0 10px;
}

footer .social {
  font-family: 'Montserrat', sans-serif;
  color: #BF2231;
  font-size: 24px;
  font-weight: bold;
}

footer .icon-link {
  font-size: 14px;
}

footer .icon-link i {
  font-size: 2rem;
  color: #BF2231;
  margin: 12px;
  margin-left: 0;
}

footer .bold {
  padding-top: 44px;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 991.98px) {
  footer .bold {
    font-size: 17px;
  }
}

footer .bold .thin {
  margin-top: 1.5rem;
  font-style: italic;
  font-weight: 400;
}
/*# sourceMappingURL=styles.css.map */